# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/

# Model weights
*.pt
*.onnx

# security
*.pem

# Conda
*.conda
*.env

# Docker
*.log
mlflow/mlartifacts/
weights/
datasets/

# IDEs
.vscode/
.idea/

# Terraform
terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform/
__pycache__/