name: Terraform Deploy

# Trigger the workflow on push to main branch
on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write       # needed for OIDC
  contents: read        # needed to read repo

jobs:
  oidc_debug_test:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    name: A test of the oidc debugger
    steps:
      - name: Debug OIDC Claims
        uses: github/actions-oidc-debugger@2e9ba5d3f4bebaad1f91a2cede055115738b7ae8
        with:
          audience: '${{ github.server_url }}/${{ github.repository_owner }}'


  terraform: # test
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Configure AWS credentials using OIDC
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::111490975442:role/github-tf-role
          role-session-name: github-actions
          aws-region: us-east-1
          

      - name: Verify AWS Identity
        run: aws sts get-caller-identity

      # Step 3: Run Terraform commands
      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: ./terraform
